body {
  background: #f4f6f9;
  font-family:
    Segoe UI,
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
}
/* =============================================== */

a {
  text-decoration: none;
}

table {
  background: white;
}

.table th {
  background: #0d6efd;
  color: white;
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.card {
  border: none;
  border-radius: 12px;
}

.btn {
  border-radius: 8px;
}

.form-control {
  border-radius: 8px;
}

.form-select {
  border-radius: 8px;
}

.sidebar {
  width: 220px;
  min-height: 100vh;
  background: #1f2937;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.sidebar a {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  color: white;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar a:hover {
  background: #2563eb;
  color: white;
}

.navbar {
  height: 70px;
}

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.4);
  z-index: 99999999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
}

.close-btn {
  width: 32px;

  height: 32px;

  border: none;

  border-radius: 4px;

  background: transparent;

  cursor: pointer;

  font-size: 18px;

  transition: 0.2s;
}

.close-btn:hover {
  background: #e53935;

  color: white;
}

.modal-table input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.table-container {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.modal-table {
  width: 800px;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}

.table-container {
  width: 100%;
  height: 300px;

  overflow-y: auto;
  overflow-x: auto;

  border: 1px solid #dcdcdc;
}

table {
  border-collapse: collapse;
  min-width: 900px;
  width: max-content;
}

thead th {
  position: sticky;
  top: 0;

  background: white;

  z-index: 100;

  border-bottom: 1px solid #ddd;
}

th,
td {
  white-space: nowrap;

  padding: 8px 12px;

  border-bottom: 1px solid #eee;
}

tbody tr:hover {
  background: #f4f4f4;
  cursor: pointer;
}

.selected {
  background: #1976d2 !important;
  color: white;
}

/* ================================ TRACKING CSS */

.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__tile {
  height: 70px;
}

.react-calendar__month-view__days__day {
  font-size: 13px;
}

/* Remove the dotted underline */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  cursor: default;
}

/* Optional: make weekdays look cleaner */
.react-calendar__month-view__weekdays {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 10px 0;
}

.react-calendar__month-view__weekdays {
  color: #6c757d; /*  label on top color */
}

/* tiles color  */

/* Current Month Dates */
.react-calendar__month-view__days__day {
  color: black !important;
  font-weight: bolder !important;
  border: 1px solid rgb(239, 235, 235) !important;
}

/* Previous & Next Month Dates */
.react-calendar__month-view__days__day--neighboringMonth {
  background: rgb(168, 211, 246) !important;
  color: #7e7e7f !important;
  border: 1px solid rgb(239, 235, 235) !important;
}

/* Hover */
.react-calendar__tile:hover {
  background: #f1f3f5;
  /* border-radius: 8px; */
}

/* Selected Date */
.react-calendar__tile--active {
  background: #0d6efd !important;
  color: white !important;
}

/* Today */
.react-calendar__tile--now {
  background: #fff3cd;
  color: #000;
  border: 2px solid #ffc107;
}

/* calendar navigation */

/* Navigation Container */
.react-calendar__navigation {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
  background-color: rgb(7, 122, 210);
}

/* All Navigation Buttons */
.react-calendar__navigation button {
  min-width: 42px;
  height: 42px;

  border: none;
  border-radius: 8px;

  background: transparent;
  color: whitesmoke;

  font-size: 16px;
  font-weight: 600;

  transition: all 0.2s ease;
}

/* Hover */
.react-calendar__navigation button:hover {
  background: rgb(8, 138, 237) !important;
  color: white !important;
}

/* Click */
.react-calendar__navigation button:active {
  transform: scale(0.95);
}

/* Disabled */
.react-calendar__navigation button:disabled {
  background: transparent;
  color: #adb5bd;
  cursor: not-allowed;
}

/* Month & Year Label */
.react-calendar__navigation__label {
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
}

.react-calendar__navigation__label:hover {
  background: #f8f9fa !important;
  color: #212529 !important;
}

.calendar-tile-content {
  color: #b4b2b2;
  font-weight: 500;
  font-size: 13px;
}
.calendar-tile-content p {
  margin: 0;
  padding: 0;
}
.react-calendar__tile {
  position: relative;
}

.react-calendar__tile:has(.calendar-tile-content) {
  background-color: #06402b !important;
  color: white !important;
}
.react-calendar__tile--active:has(.calendar-tile-content) {
  background-color: #0d6efd !important;
  color: white !important;
}

.react-calendar__month-view__days__day--neighboringMonth:has(
  .calendar-tile-content
) {
  background-color: #06402baa !important;
  color: white !important;
}
.notes-sign {
  width: 10px;
  height: 10px;
  background-color: yellow;
  position: absolute;
  top: 0px;
  right: 0px;
}

/*============================================*/

.main {
  display: flex;
}

.content {
  flex: 1;
  padding: 10px;
}

/* ========================================
   TABLET
   768px - 1199px
======================================== */

@media (max-width: 1199.98px) {
}

@media (max-width: 992px) {
  .main {
    flex-direction: column;
  }

  .react-calendar__tile {
    height: 70px;
  }
  .react-calendar__month-view__days__day {
    font-size: 12px;
  }

  .calendar-tile-content {
    font-size: 12px;
  }
}

/* ========================================
   MOBILE
   BELOW 768px
======================================== */

@media (max-width: 767.98px) {
  .main {
    flex-direction: column;
  }
  .content {
    padding: 5px;
  }

  .react-calendar__tile {
    height: 60px;
  }

  .react-calendar__month-view__days__day {
    font-size: 11px;
  }

  .calendar-tile-content {
    font-size: 11px;
  }
}

/* ========================================
   SMALL MOBILE
======================================== */

@media (max-width: 480px) {
  .main {
    flex-direction: column;
  }
  .react-calendar__tile {
    height: 60px;
  }

  .react-calendar__month-view__days__day {
    font-size: 10px;
  }

  .calendar-tile-content {
    font-size: 10px;
  }
}
